* text eol=lf

# Denote all files that are truly binary and should not be modified
*.ttf binary
*.png binary
*.webp binary
*.woff binary
# Prevent line ending conversion for binary files
*.pdf binary
*.jpeg binary
*.jpg binary
*.png binary
*.mp4 binary
*.mov binary
*.zip binary
*.doc* binary
